# ibsheet/loader-manual CircleCI 배포 설정
# master 브랜치에 push 시 GitHub Pages로 자동 배포

aliases:
  - &filter-only-master
    branches:
      only:
        - master

version: 2.1
jobs:
  deploy-website:
    docker:
      - image: cimg/node:20.10
    working_directory: ~/loader_manual
    steps:
      - checkout
      - restore_cache:
          keys:
            - yarn-deps-v1-{{ checksum "yarn.lock" }}
            - yarn-deps-v1-
      - run:
          name: Install dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          key: yarn-deps-v1-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
      - run:
          name: Deploy to GitHub Pages
          no_output_timeout: 10m
          command: |
            git config --global user.email "$GITHUB_USERNAME@users.noreply.github.com"
            git config --global user.name "$AUTHOR_NAME"
            echo "machine github.com login $GITHUB_USERNAME password $GITHUB_TOKEN" > ~/.netrc
            USE_SSH=false GIT_USER=$GITHUB_USERNAME yarn run deploy

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - deploy-website:
          filters: *filter-only-master
        